xdef/src/test/resources/test/xdef/data/xsd2xd_2/testGroup3/testGroup3.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="unqualified">
   <xs:group name="m">
      <xs:choice>
         <xs:annotation>
            <xs:documentation>Original group particle: all</xs:documentation>
         </xs:annotation>
         <xs:element name="n"/>
         <xs:element name="o"/>
      </xs:choice>
   </xs:group>
   <xs:element name="a">
      <xs:complexType>
         <xs:sequence>
            <xs:group maxOccurs="2" minOccurs="2" ref="m"/>
            <xs:element name="b"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
