src/test/resources/test/xdutils/data/xd2xsd_2/t015/t015_3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://d"
  xmlns:tns="http://d"
  attributeFormDefault="qualified"
  elementFormDefault="qualified"
  xmlns:a="http://b">
  <xs:import namespace="http://b"
    schemaLocation="t015.xsd"/>
  <xs:element name="a4">
    <xs:complexType>
      <xs:attribute name="atr1"
        type="xs:string"
        use="optional"
        form="unqualified"/>
      <xs:attribute ref="a:atr2"
        use="optional"/>
      <xs:attribute name="atr3"
        type="xs:string"
        use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>