src/test/resources/test/xdutils/data/xsd2xd_2/D1A/D1A.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="unqualified">
   <xs:simpleType name="KrajPolicie_Type">
      <xs:restriction base="xs:string">
         <xs:length value="2"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PlatnostOd_XdDatetime_Type">
      <xs:restriction base="xs:string">
         <xs:pattern value="(19|20)[0-9]{2}(0[1-9]|1[0-2])([0-2][0-9]|3[01])([01][0-9]|2[0-3])[0-5][0-9][0-5][0-9]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="KodUtvaruPolicie_user_Type">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="CisloDN_Xdnum_Type">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{5}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DatumCasOznameni_XdDatetime_Type">
      <xs:restriction base="xs:string">
         <xs:pattern value="(19|20)[0-9]{2}(0[1-9]|1[0-2])([0-2][0-9]|3[01])([01][0-9]|2[0-3])[0-5][0-9][0-5][0-9]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DatumRozhodnuti_XdDatetime_Type">
      <xs:restriction base="xs:string">
         <xs:pattern value="(19|20)[0-9]{2}(0[1-9]|1[0-2])([0-2][0-9]|3[01])([01][0-9]|2[0-3])[0-5][0-9][0-5][0-9]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DatumCasDN_XdDatetime_Type">
      <xs:restriction base="xs:string">
         <xs:pattern value="(19|20)[0-9]{2}(0[1-9]|1[0-2])([0-2][0-9]|3[01])([01][0-9]|2[0-3])[0-5][0-9][0-5][0-9]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DatumCasDoDN_XdDatetime_Type">
      <xs:restriction base="xs:string">
         <xs:pattern value="(19|20)[0-9]{2}(0[1-9]|1[0-2])([0-2][0-9]|3[01])([01][0-9]|2[0-3])[0-5][0-9][0-5][0-9]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="KodOkresu_user_Type">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="CelkovaSkodaKc_Type">
      <xs:restriction base="xs:int">
         <xs:minInclusive value="0"/>
         <xs:maxInclusive value="999999999"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="HlavniPricina_user_Type">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="Pricina_user_Type">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="RokVyroby_user_Type">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="PlatnostSTK_Type">
      <xs:restriction base="xs:string">
         <xs:enumeration value="nezjištěno"/>
         <xs:enumeration value="neplatná"/>
         <xs:enumeration value="platná"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="MesicSTKDo_XdDatetime_Type">
      <xs:restriction base="xs:string">
         <xs:pattern value="(19|20)[0-9]{2}(0[1-9]|1[0-2])([0-2][0-9]|3[01])([01][0-9]|2[0-3])[0-5][0-9][0-5][0-9]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TypBrzd_user_Type">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="StavBrzd_user_Type">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="KodPojistitele_user_Type">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="PojisteniText_Type">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Doklad o pojištění nepředložen"/>
         <xs:enumeration value="Nepodléhá pojištění"/>
         <xs:enumeration value="Potvrzení nepředloženo"/>
         <xs:enumeration value="Smlouva neuzavřena"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PlatnostZKOd_XdDatetime_Type">
      <xs:restriction base="xs:string">
         <xs:pattern value="(19|20)[0-9]{2}(0[1-9]|1[0-2])([0-2][0-9]|3[01])([01][0-9]|2[0-3])[0-5][0-9][0-5][0-9]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PlatnostZKDo_XdDatetime_Type">
      <xs:restriction base="xs:string">
         <xs:pattern value="(19|20)[0-9]{2}(0[1-9]|1[0-2])([0-2][0-9]|3[01])([01][0-9]|2[0-3])[0-5][0-9][0-5][0-9]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PojistneHPKc_Type">
      <xs:restriction base="xs:int">
         <xs:minInclusive value="0"/>
         <xs:maxInclusive value="99999"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DatumUhradyHP_XdDatetime_Type">
      <xs:restriction base="xs:string">
         <xs:pattern value="(19|20)[0-9]{2}(0[1-9]|1[0-2])([0-2][0-9]|3[01])([01][0-9]|2[0-3])[0-5][0-9][0-5][0-9]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Kc_Type">
      <xs:restriction base="xs:int">
         <xs:minInclusive value="0"/>
         <xs:maxInclusive value="9999999"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DruhSoupravy_Type">
      <xs:restriction base="xs:string">
         <xs:enumeration value="vlak"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="PraxeRizeni_user_Type">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="Zraneni_user_Type">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="ZdravPojistovna_user_Type">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="PokutaZapl_Type">
      <xs:restriction base="xs:string">
         <xs:enumeration value="nezaplacena"/>
         <xs:enumeration value="zaplacena"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Pachatel_Type">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Pachatel DN"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Poskozeny_Type">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Poškozený"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="RC_user_Type">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="Pohlavi_Type">
      <xs:restriction base="xs:string">
         <xs:enumeration value="M"/>
         <xs:enumeration value="Ž"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DatumNarozeni_XdDatetime_Type">
      <xs:restriction base="xs:string">
         <xs:pattern value="(19|20)[0-9]{2}(0[1-9]|1[0-2])([0-2][0-9]|3[01])([01][0-9]|2[0-3])[0-5][0-9][0-5][0-9]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="StatNarozeni_user_Type">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="StatniPrislusnost_user_Type">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="Okres_user_Type">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="Stat_user_Type">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="IC_Xdnum_Type">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{1,12}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DatumVydani_XdDatetime_Type">
      <xs:restriction base="xs:string">
         <xs:pattern value="(19|20)[0-9]{2}(0[1-9]|1[0-2])([0-2][0-9]|3[01])([01][0-9]|2[0-3])[0-5][0-9][0-5][0-9]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="StatVydani_user_Type">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:complexType name="ZaznamPDN_ZaznamPDN_type_cType">
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="Protokol" type="ZaznamPDN_ProtokolDN_type_cType"/>
            <xs:element minOccurs="0"
                        name="Rozhodnuti"
                        type="ZaznamPDN_RozhodnutiDN_type_cType"/>
            <xs:element name="Vyliceni" type="xs:string"/>
            <xs:element name="ObjStranka" type="ZaznamPDN_ObjStrankaDN_type_cType"/>
            <xs:element maxOccurs="unbounded"
                        minOccurs="0"
                        name="Vozidlo"
                        type="ZaznamPDN_VozidloDN_type_cType"/>
            <xs:element maxOccurs="unbounded"
                        minOccurs="0"
                        name="Tramvaj"
                        type="ZaznamPDN_TramvajDN_type_cType"/>
            <xs:element maxOccurs="unbounded"
                        minOccurs="0"
                        name="Trolejbus"
                        type="ZaznamPDN_TrolejbusDN_type_cType"/>
            <xs:element maxOccurs="unbounded"
                        minOccurs="0"
                        name="Vlak"
                        type="ZaznamPDN_VlakDN_type_cType"/>
            <xs:element maxOccurs="unbounded"
                        minOccurs="0"
                        name="Povoz"
                        type="ZaznamPDN_PovozDN_type_cType"/>
            <xs:element maxOccurs="unbounded"
                        minOccurs="0"
                        name="Predmet"
                        type="ZaznamPDN_PredmetDN_type_cType"/>
            <xs:element maxOccurs="unbounded"
                        minOccurs="0"
                        name="Zvire"
                        type="ZaznamPDN_ZvireDN_type_cType"/>
            <xs:element maxOccurs="unbounded"
                        minOccurs="0"
                        name="Ucastnik"
                        type="ZaznamPDN_UcastnikDN_type_cType"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="Verze" type="xs:string" use="optional"/>
      <xs:attribute name="SeqRec" type="xs:int" use="required"/>
      <xs:attribute name="KrajPolicie" type="KrajPolicie_Type" use="required"/>
      <xs:attribute name="PlatnostOd" type="PlatnostOd_XdDatetime_Type" use="required"/>
   </xs:complexType>
   <xs:complexType name="ZaznamPDN_ProtokolDN_type_cType">
      <xs:attribute name="KodUtvaruPolicie"
                    type="KodUtvaruPolicie_user_Type"
                    use="required"/>
      <xs:attribute name="RokDN" type="xs:gYear" use="required"/>
      <xs:attribute name="CisloDN" type="CisloDN_Xdnum_Type" use="required"/>
      <xs:attribute name="CJ" type="xs:string" use="required"/>
      <xs:attribute name="DatumCasOznameni"
                    type="DatumCasOznameni_XdDatetime_Type"
                    use="required"/>
      <xs:attribute name="NazevDN" type="xs:string" use="required"/>
      <xs:attribute name="Zpracovatel" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:complexType name="ZaznamPDN_RozhodnutiDN_type_cType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="DatumRozhodnuti"
                          type="DatumRozhodnuti_XdDatetime_Type"
                          use="optional"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="ZaznamPDN_ObjStrankaDN_type_cType">
      <xs:sequence>
         <xs:element name="Misto" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="DatumCasDN" type="DatumCasDN_XdDatetime_Type" use="required"/>
      <xs:attribute name="DatumCasDoDN"
                    type="DatumCasDoDN_XdDatetime_Type"
                    use="optional"/>
      <xs:attribute name="KodOkresu" type="KodOkresu_user_Type" use="required"/>
      <xs:attribute name="Obec" type="xs:string" use="optional"/>
      <xs:attribute name="Ulice" type="xs:string" use="optional"/>
      <xs:attribute name="CisloPopisne" type="xs:string" use="optional"/>
      <xs:attribute name="CelkovaSkodaKc" type="CelkovaSkodaKc_Type" use="optional"/>
      <xs:attribute name="HlavniPricina" type="HlavniPricina_user_Type" use="optional"/>
      <xs:attribute name="Pricina" type="Pricina_user_Type" use="optional"/>
   </xs:complexType>
   <xs:complexType name="ZaznamPDN_VozidloDN_type_cType">
      <xs:all minOccurs="0">
         <xs:element minOccurs="0" name="Skoda" type="ZaznamPDN_Skoda_type_cType"/>
         <xs:element minOccurs="0" name="JinaSkoda" type="ZaznamPDN_Skoda_type_cType"/>
         <xs:element minOccurs="0" name="Drzitel" type="xs:string"/>
      </xs:all>
      <xs:attribute name="OznSegmentu" type="xs:string" use="required"/>
      <xs:attribute name="DruhVozidla" type="xs:string" use="required"/>
      <xs:attribute name="SPZ" type="xs:string" use="optional"/>
      <xs:attribute name="MPZ" type="xs:string" use="optional"/>
      <xs:attribute name="VIN" type="xs:string" use="optional"/>
      <xs:attribute name="ZnackaVozidla" type="xs:string" use="optional"/>
      <xs:attribute name="TypVozidla" type="xs:string" use="optional"/>
      <xs:attribute name="RokVyroby" type="RokVyroby_user_Type" use="optional"/>
      <xs:attribute name="PlatnostSTK" type="PlatnostSTK_Type" use="optional"/>
      <xs:attribute name="MesicSTKDo" type="MesicSTKDo_XdDatetime_Type" use="optional"/>
      <xs:attribute name="TypBrzd" type="TypBrzd_user_Type" use="optional"/>
      <xs:attribute name="StavBrzd" type="StavBrzd_user_Type" use="optional"/>
      <xs:attribute name="KodPojistitele"
                    type="KodPojistitele_user_Type"
                    use="optional"/>
      <xs:attribute name="CisloDokladuPojisteni" type="xs:string" use="optional"/>
      <xs:attribute name="PojisteniText" type="PojisteniText_Type" use="optional"/>
      <xs:attribute name="CisloZK" type="xs:string" use="optional"/>
      <xs:attribute name="VydalZK" type="xs:string" use="optional"/>
      <xs:attribute name="PlatnostZKOd"
                    type="PlatnostZKOd_XdDatetime_Type"
                    use="optional"/>
      <xs:attribute name="PlatnostZKDo"
                    type="PlatnostZKDo_XdDatetime_Type"
                    use="optional"/>
      <xs:attribute name="PojistneHPKc" type="PojistneHPKc_Type" use="optional"/>
      <xs:attribute name="DatumUhradyHP"
                    type="DatumUhradyHP_XdDatetime_Type"
                    use="optional"/>
      <xs:attribute name="MistoUhradyHP" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="ZaznamPDN_Skoda_type_cType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="Kc" type="Kc_Type" use="optional"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="ZaznamPDN_TramvajDN_type_cType">
      <xs:all minOccurs="0">
         <xs:element minOccurs="0" name="Skoda" type="ZaznamPDN_Skoda_type_cType"/>
         <xs:element minOccurs="0" name="JinaSkoda" type="ZaznamPDN_Skoda_type_cType"/>
         <xs:element minOccurs="0" name="Vlastnik" type="xs:string"/>
      </xs:all>
      <xs:attribute name="OznSegmentu" type="xs:string" use="required"/>
      <xs:attribute name="Linka" type="xs:string" use="required"/>
      <xs:attribute name="LinkaPoradi" type="xs:string" use="optional"/>
      <xs:attribute name="EvidCislo" type="xs:string" use="optional"/>
      <xs:attribute name="TypVozidla" type="xs:string" use="optional"/>
      <xs:attribute name="TypBrzd" type="TypBrzd_user_Type" use="optional"/>
      <xs:attribute name="StavBrzd" type="StavBrzd_user_Type" use="optional"/>
      <xs:attribute name="KodPojistitele"
                    type="KodPojistitele_user_Type"
                    use="optional"/>
      <xs:attribute name="CisloDokladuPojisteni" type="xs:string" use="optional"/>
      <xs:attribute name="PojisteniText" type="PojisteniText_Type" use="optional"/>
      <xs:attribute name="DruhVozidla" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:complexType name="ZaznamPDN_TrolejbusDN_type_cType">
      <xs:all minOccurs="0">
         <xs:element minOccurs="0" name="Skoda" type="ZaznamPDN_Skoda_type_cType"/>
         <xs:element minOccurs="0" name="JinaSkoda" type="ZaznamPDN_Skoda_type_cType"/>
         <xs:element minOccurs="0" name="Vlastnik" type="xs:string"/>
      </xs:all>
      <xs:attribute name="OznSegmentu" type="xs:string" use="required"/>
      <xs:attribute name="Linka" type="xs:string" use="required"/>
      <xs:attribute name="LinkaPoradi" type="xs:string" use="optional"/>
      <xs:attribute name="EvidCislo" type="xs:string" use="optional"/>
      <xs:attribute name="TypVozidla" type="xs:string" use="optional"/>
      <xs:attribute name="TypBrzd" type="TypBrzd_user_Type" use="optional"/>
      <xs:attribute name="StavBrzd" type="StavBrzd_user_Type" use="optional"/>
      <xs:attribute name="KodPojistitele"
                    type="KodPojistitele_user_Type"
                    use="optional"/>
      <xs:attribute name="CisloDokladuPojisteni" type="xs:string" use="optional"/>
      <xs:attribute name="PojisteniText" type="PojisteniText_Type" use="optional"/>
      <xs:attribute name="DruhVozidla" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:complexType name="ZaznamPDN_VlakDN_type_cType">
      <xs:all minOccurs="0">
         <xs:element minOccurs="0" name="Skoda" type="ZaznamPDN_Skoda_type_cType"/>
         <xs:element minOccurs="0" name="JinaSkoda" type="ZaznamPDN_Skoda_type_cType"/>
         <xs:element minOccurs="0" name="Vlastnik" type="xs:string"/>
      </xs:all>
      <xs:attribute name="OznSegmentu" type="xs:string" use="required"/>
      <xs:attribute name="TypSoupravy" type="xs:string" use="required"/>
      <xs:attribute name="Spoj" type="xs:string" use="optional"/>
      <xs:attribute name="DruhSoupravy" type="DruhSoupravy_Type" use="required"/>
   </xs:complexType>
   <xs:complexType name="ZaznamPDN_PovozDN_type_cType">
      <xs:all minOccurs="0">
         <xs:element minOccurs="0" name="Skoda" type="ZaznamPDN_Skoda_type_cType"/>
         <xs:element minOccurs="0" name="JinaSkoda" type="ZaznamPDN_Skoda_type_cType"/>
         <xs:element minOccurs="0" name="Vlastnik" type="xs:string"/>
      </xs:all>
      <xs:attribute name="OznSegmentu" type="xs:string" use="required"/>
      <xs:attribute name="DruhPovozu" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:complexType name="ZaznamPDN_PredmetDN_type_cType">
      <xs:all minOccurs="0">
         <xs:element minOccurs="0" name="Skoda" type="ZaznamPDN_Skoda_type_cType"/>
         <xs:element minOccurs="0" name="Vlastnik" type="xs:string"/>
      </xs:all>
      <xs:attribute name="OznSegmentu" type="xs:string" use="required"/>
      <xs:attribute name="NazevPredmetu" type="xs:string" use="required"/>
      <xs:attribute name="DruhPredmetu" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:complexType name="ZaznamPDN_ZvireDN_type_cType">
      <xs:all minOccurs="0">
         <xs:element minOccurs="0" name="Skoda" type="ZaznamPDN_Skoda_type_cType"/>
         <xs:element minOccurs="0" name="Vlastnik" type="xs:string"/>
      </xs:all>
      <xs:attribute name="OznSegmentu" type="xs:string" use="required"/>
      <xs:attribute name="NazevZvirete" type="xs:string" use="required"/>
      <xs:attribute name="DruhZvirete" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:complexType name="ZaznamPDN_UcastnikDN_type_cType">
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element minOccurs="0" name="JinaSkoda" type="ZaznamPDN_Skoda_type_cType"/>
            <xs:element minOccurs="0" name="Osoba" type="ZaznamPDN_Osoba_type_cType"/>
            <xs:element minOccurs="0" name="Firma" type="ZaznamPDN_Firma_type_cType"/>
            <xs:element maxOccurs="unbounded"
                        minOccurs="0"
                        name="Doklad"
                        type="ZaznamPDN_Doklad_type_cType"/>
            <xs:element minOccurs="0" name="PoruseniZakProvoz" type="xs:string"/>
            <xs:element minOccurs="0" name="PoruseniZakPrest" type="xs:string"/>
            <xs:element minOccurs="0" name="PoruseniZakTrest" type="xs:string"/>
            <xs:element minOccurs="0" name="PoruseniZakOst" type="xs:string"/>
            <xs:element minOccurs="0" name="Vazba" type="xs:string"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="OznSegmentu" type="xs:string" use="required"/>
      <xs:attribute name="TypUcastnika" type="xs:string" use="required"/>
      <xs:attribute name="PraxeRizeni" type="PraxeRizeni_user_Type" use="optional"/>
      <xs:attribute name="AlkoholDech" type="xs:string" use="optional"/>
      <xs:attribute name="AlkoholKrev" type="xs:string" use="optional"/>
      <xs:attribute name="Zraneni" type="Zraneni_user_Type" use="optional"/>
      <xs:attribute name="ZdravPojistovna"
                    type="ZdravPojistovna_user_Type"
                    use="optional"/>
      <xs:attribute name="PokutaKc" type="xs:string" use="optional"/>
      <xs:attribute name="PokutaZapl" type="PokutaZapl_Type" use="optional"/>
      <xs:attribute name="Pachatel" type="Pachatel_Type" use="optional"/>
      <xs:attribute name="Poskozeny" type="Poskozeny_Type" use="optional"/>
   </xs:complexType>
   <xs:complexType name="ZaznamPDN_Osoba_type_cType">
      <xs:all minOccurs="0">
         <xs:element minOccurs="0" name="Pobyt" type="ZaznamPDN_Adresa_type_cType"/>
         <xs:element minOccurs="0" name="JinyPobyt" type="ZaznamPDN_Adresa_type_cType"/>
      </xs:all>
      <xs:attribute name="Jmeno" type="xs:string" use="optional"/>
      <xs:attribute name="Prijmeni" type="xs:string" use="required"/>
      <xs:attribute name="RodnePrijmeni" type="xs:string" use="optional"/>
      <xs:attribute name="TitulPred" type="xs:string" use="optional"/>
      <xs:attribute name="TitulZa" type="xs:string" use="optional"/>
      <xs:attribute name="RC" type="RC_user_Type" use="optional"/>
      <xs:attribute name="Pohlavi" type="Pohlavi_Type" use="optional"/>
      <xs:attribute name="OsobniStav" type="xs:string" use="optional"/>
      <xs:attribute name="DatumNarozeni"
                    type="DatumNarozeni_XdDatetime_Type"
                    use="optional"/>
      <xs:attribute name="MistoNarozeni" type="xs:string" use="optional"/>
      <xs:attribute name="StatNarozeni" type="StatNarozeni_user_Type" use="optional"/>
      <xs:attribute name="StatniPrislusnost"
                    type="StatniPrislusnost_user_Type"
                    use="optional"/>
      <xs:attribute name="Profese" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="ZaznamPDN_Adresa_type_cType">
      <xs:attribute name="Ulice" type="xs:string" use="optional"/>
      <xs:attribute name="CisloOrientacni" type="xs:string" use="optional"/>
      <xs:attribute name="CisloPopisne" type="xs:string" use="optional"/>
      <xs:attribute name="Obec" type="xs:string" use="optional"/>
      <xs:attribute name="PSC" type="xs:string" use="optional"/>
      <xs:attribute name="Okres" type="Okres_user_Type" use="optional"/>
      <xs:attribute name="Stat" type="Stat_user_Type" use="optional"/>
      <xs:attribute name="Telefon1" type="xs:string" use="optional"/>
      <xs:attribute name="Telefon2" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="ZaznamPDN_Firma_type_cType">
      <xs:sequence>
         <xs:element minOccurs="0" name="Sidlo" type="ZaznamPDN_Adresa_type_cType"/>
      </xs:sequence>
      <xs:attribute name="NazevFirmy" type="xs:string" use="required"/>
      <xs:attribute name="IC" type="IC_Xdnum_Type" use="optional"/>
   </xs:complexType>
   <xs:complexType name="ZaznamPDN_Doklad_type_cType">
      <xs:attribute name="TypDokladu" type="xs:string" use="required"/>
      <xs:attribute name="Opravneni" type="xs:string" use="optional"/>
      <xs:attribute name="CisloDokladu" type="xs:string" use="optional"/>
      <xs:attribute name="DatumVydani"
                    type="DatumVydani_XdDatetime_Type"
                    use="optional"/>
      <xs:attribute name="MistoVydani" type="xs:string" use="optional"/>
      <xs:attribute name="StatVydani" type="StatVydani_user_Type" use="optional"/>
   </xs:complexType>
   <xs:element name="SouborD1A">
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded"
                        name="ZaznamPDN"
                        type="ZaznamPDN_ZaznamPDN_type_cType"/>
         </xs:sequence>
         <xs:attribute name="Davka" type="xs:string" use="required"/>
         <xs:attribute name="ZeDne" type="xs:string" use="required"/>
      </xs:complexType>
   </xs:element>
</xs:schema>
