src/test/resources/test/xdutils/data/xsd2xd_2/refTest3/refTest3.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:test="http://test_ns"
           attributeFormDefault="unqualified"
           elementFormDefault="unqualified">
   <xs:import namespace="http://test_ns" schemaLocation="refTest3_1.xsd"/>
   <xs:element name="a">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="b" type="c"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="c">
      <xs:complexContent>
         <xs:extension base="test:d"/>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
