src/test/resources/test/xdutils/data/xsd2xd_2/refTest1/refTest1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="unqualified">
   <xs:include schemaLocation="refTest1_1.xsd"/>
   <xs:element name="a">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="b" type="c"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="c">
      <xs:complexContent>
         <xs:extension base="d"/>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
