xdef/src/test/resources/test/xdef/data/xsd2xd_2/refTest2/refTest2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="unqualified">
   <xs:include schemaLocation="refTest2_1.xsd"/>
   <xs:element name="a">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="b" type="c"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="c">
      <xs:simpleContent>
         <xs:extension base="d"/>
      </xs:simpleContent>
   </xs:complexType>
</xs:schema>
