src/test/resources/test/xdutils/data/xsd2xd_2/sisma/L1_common.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="unqualified">
   <xs:simpleType name="string">
      <xs:restriction base="xs:string">
         <xs:minLength value="1"/>
         <xs:maxLength value="512"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="Adresa">
      <xs:attribute name="Ulice" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="36"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="CisloDomu" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="10"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Obec" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="36"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Okres" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="36"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Stat" type="xs:string" use="required"/>
      <xs:attribute name="PSC" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="16"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="Osoba">
      <xs:sequence>
         <xs:element minOccurs="0" name="Adresa" type="Adresa"/>
      </xs:sequence>
      <xs:attribute name="Jmeno" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="24"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Prijmeni" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="36"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="RC" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="14"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DatumNarozeni" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>Original x-definition parser: xdatetime</xs:documentation>
               </xs:annotation>
               <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])\.(0[1-9]|1[0-2])\.\d{4}\d*|\d{4}\d*(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])">
                  <xs:annotation>
                     <xs:documentation>Original pattern value: 'yyyyMMdd|dd.MM.yyyy'</xs:documentation>
                  </xs:annotation>
               </xs:pattern>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="StatPrislusnost" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="Subjekt">
      <xs:sequence>
         <xs:element minOccurs="0" name="Adresa" type="Adresa"/>
      </xs:sequence>
      <xs:attribute name="Zruseni" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>Original x-definition parser: enum</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="A"/>
               <xs:enumeration value="N"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Jmeno" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="24"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Prijmeni" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="36"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="RC" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="14"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DatumNarozeni" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>Original x-definition parser: xdatetime</xs:documentation>
               </xs:annotation>
               <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])\.(0[1-9]|1[0-2])\.\d{4}\d*|\d{4}\d*(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])">
                  <xs:annotation>
                     <xs:documentation>Original pattern value: 'yyyyMMdd|dd.MM.yyyy'</xs:documentation>
                  </xs:annotation>
               </xs:pattern>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="NazevFirmy" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="100"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="IC" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="12"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="StatPrislusnost" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="Vozovka">
      <xs:attribute name="CisloSilnice" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="15"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ZObce" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="36"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DoObce" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="36"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Km" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:decimal">
               <xs:totalDigits value="5"/>
               <xs:fractionDigits value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Okres" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="36"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Stat" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:complexType name="GPS">
      <xs:attribute name="X" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:decimal">
               <xs:totalDigits value="9"/>
               <xs:fractionDigits value="5"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Y" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:decimal">
               <xs:totalDigits value="9"/>
               <xs:fractionDigits value="5"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="SSyst" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>Original x-definition parser: enum</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="WGS84"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType mixed="true" name="Misto">
      <xs:annotation>
         <xs:documentation>Text content has been originally restricted by x-definition</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="GPS" type="GPS"/>
         <xs:element minOccurs="0" name="Adresa" type="Adresa"/>
         <xs:element minOccurs="0" name="Vozovka" type="Vozovka"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Vozidlo">
      <xs:attribute name="SPZ" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="2"/>
               <xs:maxLength value="12"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="MPZ" type="xs:string" use="required"/>
      <xs:attribute name="VIN" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="26"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="CisloTP" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="12"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DruhVozidla" type="xs:string" use="required"/>
      <xs:attribute name="ZnackaText" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="30"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ModelText" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="40"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="KodModeluVozidla" type="xs:string" use="optional"/>
      <xs:attribute name="RokDoProvozu" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>Original x-definition parser: xdatetime</xs:documentation>
               </xs:annotation>
               <xs:pattern value="\d{4}\d*">
                  <xs:annotation>
                     <xs:documentation>Original pattern value: 'yyyy'</xs:documentation>
                  </xs:annotation>
               </xs:pattern>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="BarvaText" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="20"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="VozidloPS">
      <xs:sequence>
         <xs:element name="Vozidlo" type="Vozidlo"/>
         <xs:element minOccurs="0" name="Vlastnik" type="Subjekt"/>
         <xs:element minOccurs="0" name="Provozovatel" type="Subjekt"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Smlouva">
      <xs:sequence>
         <xs:element minOccurs="0" name="Pojistnik" type="Subjekt"/>
         <xs:element minOccurs="0" name="VozidloPS" type="VozidloPS"/>
      </xs:sequence>
      <xs:attribute name="KodPojistitele" type="xs:string" use="optional"/>
      <xs:attribute name="CisloSmlouvy" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="3"/>
               <xs:maxLength value="35"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="PoradiVozidla" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>Original x-definition parser: num</xs:documentation>
               </xs:annotation>
               <xs:minLength value="1"/>
               <xs:maxLength value="10"/>
               <xs:pattern value="([0-9])*"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DruhPojisteni" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>Original x-definition parser: enum</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="POV"/>
               <xs:enumeration value="HAVPOV"/>
               <xs:enumeration value="HAV"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="SkodaVozidla">
      <xs:attribute name="PlatnostDoTK" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>Original x-definition parser: xdatetime</xs:documentation>
               </xs:annotation>
               <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])\.(0[1-9]|1[0-2])\.\d{4}\d*|\d{4}\d*(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])">
                  <xs:annotation>
                     <xs:documentation>Original pattern value: 'yyyyMMdd|dd.MM.yyyy'</xs:documentation>
                  </xs:annotation>
               </xs:pattern>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="PocetKm" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:int">
               <xs:minInclusive value="0"/>
               <xs:maxInclusive value="9999999"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Kvadrant" type="xs:string" use="optional"/>
      <xs:attribute name="Skoda" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:int">
               <xs:minInclusive value="1"/>
               <xs:maxInclusive value="99999999"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Mena" type="xs:string" use="optional"/>
      <xs:attribute name="KodOpravny" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="VozidloPojistnika">
      <xs:sequence>
         <xs:element name="Smlouva" type="Smlouva"/>
         <xs:element minOccurs="0" name="Ridic" type="Osoba"/>
         <xs:element minOccurs="0" name="SkodaVozidla" type="SkodaVozidla"/>
      </xs:sequence>
      <xs:attribute name="PoradiVozidlaSU" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:int">
               <xs:minInclusive value="1"/>
               <xs:maxInclusive value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="VozidloUcastnika">
      <xs:sequence>
         <xs:element name="VozidloPS" type="VozidloPS"/>
         <xs:element minOccurs="0" name="Ridic" type="Osoba"/>
         <xs:element minOccurs="0" name="SkodaVozidla" type="SkodaVozidla"/>
      </xs:sequence>
      <xs:attribute name="PoradiVozidlaSU" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:int">
               <xs:minInclusive value="2"/>
               <xs:maxInclusive value="999"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Zruseni" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>Original x-definition parser: enum</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="A"/>
               <xs:enumeration value="N"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="VozidloNepojistene">
      <xs:sequence>
         <xs:element name="VozidloPS" type="VozidloPS"/>
         <xs:element minOccurs="0" name="Ridic" type="Osoba"/>
         <xs:element minOccurs="0" name="SkodaVozidla" type="SkodaVozidla"/>
      </xs:sequence>
      <xs:attribute name="PoradiVozidlaSU" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:int">
               <xs:minInclusive value="1"/>
               <xs:maxInclusive value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="VozidloNezjistene">
      <xs:attribute name="PoradiVozidlaSU" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:int">
               <xs:minInclusive value="1"/>
               <xs:maxInclusive value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="RezervaXX">
      <xs:attribute name="Zruseni" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>Original x-definition parser: enum</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="A"/>
               <xs:enumeration value="N"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="TypSkody" type="xs:string" use="required"/>
      <xs:attribute name="Zmena" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:decimal">
               <xs:totalDigits value="11"/>
               <xs:fractionDigits value="2"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Rezerva" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:decimal">
               <xs:totalDigits value="11"/>
               <xs:fractionDigits value="2"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Mena" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:complexType name="PlneniXX">
      <xs:attribute name="Zruseni" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>Original x-definition parser: enum</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="A"/>
               <xs:enumeration value="N"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="TypSkody" type="xs:string" use="required"/>
      <xs:attribute name="Platba" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:decimal">
               <xs:totalDigits value="11"/>
               <xs:fractionDigits value="2"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Vyplaceno" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:decimal">
               <xs:totalDigits value="11"/>
               <xs:fractionDigits value="2"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Mena" type="xs:string" use="required"/>
      <xs:attribute name="Ucet" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="35"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="TypMinusPlneni" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="RegresXX">
      <xs:attribute name="Zruseni" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>Original x-definition parser: enum</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="A"/>
               <xs:enumeration value="N"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="TypSkody" type="xs:string" use="required"/>
      <xs:attribute name="Castka" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:decimal">
               <xs:totalDigits value="11"/>
               <xs:fractionDigits value="2"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Regres" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:decimal">
               <xs:totalDigits value="11"/>
               <xs:fractionDigits value="2"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Mena" type="xs:string" use="required"/>
      <xs:attribute name="TypRegresu" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:complexType name="Indikator">
      <xs:attribute name="Zruseni" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>Original x-definition parser: enum</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="A"/>
               <xs:enumeration value="N"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Indikator" type="xs:string" use="required"/>
   </xs:complexType>
   <xs:complexType name="SU">
      <xs:sequence>
         <xs:element name="Misto" type="Misto"/>
         <xs:choice>
            <xs:element name="VozidloPojistnika" type="VozidloPojistnika"/>
            <xs:element name="VozidloNezjistene" type="VozidloNezjistene"/>
            <xs:element name="VozidloNepojistene" type="VozidloNepojistene"/>
         </xs:choice>
         <xs:element maxOccurs="unbounded"
                     minOccurs="0"
                     name="VozidloUcastnika"
                     type="VozidloUcastnika"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Svedek" type="Osoba"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Znalec" type="Osoba"/>
         <xs:element maxOccurs="unbounded"
                     minOccurs="0"
                     name="Indikator"
                     type="Indikator"/>
         <xs:element minOccurs="0" name="Likvidator" type="Osoba"/>
      </xs:sequence>
      <xs:attribute name="IdentZaznamu" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="19"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="CisloSU" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="3"/>
               <xs:maxLength value="35"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DatumCasSU" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>Original x-definition parser: xdatetime</xs:documentation>
               </xs:annotation>
               <xs:pattern value="\d{4}\d*(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])(0[0-9]|1[0-9]|2[0-3])[0-5][0-9]|(0[1-9]|[1-2][0-9]|3[0-1])\.(0[1-9]|1[0-2])\.\d{4}\d*\s(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]">
                  <xs:annotation>
                     <xs:documentation>Original pattern value: '{ss00}yyyyMMddHHmm|{ss00}dd.MM.yyyy HH:mm'</xs:documentation>
                  </xs:annotation>
               </xs:pattern>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DatumCasDoSU" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>Original x-definition parser: xdatetime</xs:documentation>
               </xs:annotation>
               <xs:pattern value="\d{4}\d*(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])(0[0-9]|1[0-9]|2[0-3])[0-5][0-9]|(0[1-9]|[1-2][0-9]|3[0-1])\.(0[1-9]|1[0-2])\.\d{4}\d*\s(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]">
                  <xs:annotation>
                     <xs:documentation>Original pattern value: '{ss00}yyyyMMddHHmm|{ss00}dd.MM.yyyy HH:mm'</xs:documentation>
                  </xs:annotation>
               </xs:pattern>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DatumCasOznameniSU" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>Original x-definition parser: xdatetime</xs:documentation>
               </xs:annotation>
               <xs:pattern value="\d{4}\d*(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])(0[0-9]|1[0-9]|2[0-3])[0-5][0-9]|(0[1-9]|[1-2][0-9]|3[0-1])\.(0[1-9]|1[0-2])\.\d{4}\d*\s(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]">
                  <xs:annotation>
                     <xs:documentation>Original pattern value: '{ss00}yyyyMMddHHmm|{ss00}dd.MM.yyyy HH:mm'</xs:documentation>
                  </xs:annotation>
               </xs:pattern>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="CJRelacePolicie" use="optional">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="50"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="StavSetreniPolicie" type="xs:string" use="optional"/>
      <xs:attribute name="LikvidacniTitul" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>Original x-definition parser: enum</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="HAV"/>
               <xs:enumeration value="POV"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="RozhodnaUdalost" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>Original x-definition parser: enum</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="A"/>
               <xs:enumeration value="N"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DatumUcinnosti" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>Original x-definition parser: xdatetime</xs:documentation>
               </xs:annotation>
               <xs:pattern value="\d{4}\d*(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])(0[0-9]|1[0-9]|2[0-3])[0-5][0-9]|(0[1-9]|[1-2][0-9]|3[0-1])\.(0[1-9]|1[0-2])\.\d{4}\d*\s(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]">
                  <xs:annotation>
                     <xs:documentation>Original pattern value: '{ss00}yyyyMMddHHmm|{ss00}dd.MM.yyyy HH:mm'</xs:documentation>
                  </xs:annotation>
               </xs:pattern>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="PU">
      <xs:sequence>
         <xs:element name="Poskozeny" type="Subjekt"/>
         <xs:element maxOccurs="unbounded"
                     minOccurs="0"
                     name="Indikator"
                     type="Indikator"/>
         <xs:element minOccurs="0" name="Likvidator" type="Osoba"/>
      </xs:sequence>
      <xs:attribute name="IdentZaznamu" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="1"/>
               <xs:maxLength value="19"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="CisloSU" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="3"/>
               <xs:maxLength value="35"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="CisloPU" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:minLength value="3"/>
               <xs:maxLength value="35"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="DatumUcinnosti" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>Original x-definition parser: xdatetime</xs:documentation>
               </xs:annotation>
               <xs:pattern value="\d{4}\d*(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])(0[0-9]|1[0-9]|2[0-3])[0-5][0-9]|(0[1-9]|[1-2][0-9]|3[0-1])\.(0[1-9]|1[0-2])\.\d{4}\d*\s(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]">
                  <xs:annotation>
                     <xs:documentation>Original pattern value: '{ss00}yyyyMMddHHmm|{ss00}dd.MM.yyyy HH:mm'</xs:documentation>
                  </xs:annotation>
               </xs:pattern>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
</xs:schema>
