xdef/src/test/resources/test/xdutils/data/xsd2xd_2/t022/t022.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType mixed="true" name="B_cType">
    <xs:sequence>
      <xs:element name="C"/>
      <xs:element name="D"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="A">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="B" type="B_cType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>